* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg, #492dd6, #927dff);
    color: white;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: white;
}

form input{
    min-width: 25%;
}

form button {
    color: #927dff;
    background: white;
    cursor: pointer;
    transition: all 0.3 ease;
}

form button:hover {
    background: #927dff;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 28%;
    list-style: none;
}

.todo {
    margin: 0.2rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: rgb(255, 96, 96);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #24e655;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateX(-20rem);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #927dff;
    width: 10rem;
    cursor: pointer;
    padding: 0.6rem;
}

.select {
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    position: absolute;
    color: #927dff;
    background: white;
    top: 0;
    right: 0;
    padding: 0.6rem;
    pointer-events: none;
    transition: all 0.3 ease;
}

.select:hover::after {
    background: #927dff;
    color: white;
}